<h1><%= @dojos.branch %></h1>

<h3> Address: <%= @dojos.street %></h3>
<h3>City: <%= @dojos.city %></h3>
<h3>State: <%= @dojos.state %></h3>

<a href='/'>Home</a><br>
<a href='/edit/<%= @dojos.id %>'>Edit</a>
