<h1><%= @dojo.city %>'s <%= @student.first_name %> <%= @student.last_name %>></h1>
<p><%= @student.email %>></p>
<p>Cohort</p>
<table>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</thead>
	<tbody>
		<%= @students.each do |student| %>
		<tr>
			<td><%= student.first_name %></td>
			<td><%= student.last_name %></td>
			<td><%= student.email %></td>
		</tr>
		<%= end %>
	</tbody>
</table>
<a href="<%= @student.id %>">Edit Student</a>
<a href="/dojos">Home</a>