<h1><%= @dojo.branch %></h1>

<h3>Address: <%= @dojo.street %></h3>
<h3>City: <%= @dojo.city %> State: <%= @dojo.state %></h3>

<br>
<br>

<a href="/">Home</a> | <a href="/edit/<%= @dojo.id %>">Edit</a>
