<div id="wrapper">
  <% if flash[:success] %>
    <p><%= flash[:success] %></p>
  <% end %>
  <table>
    <tr>
      <td>Submitted Information</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @survey['name'] %></td>
    </tr>
    <tr>
      <td>Dojo Location:</td>
      <td><%= @survey['location'] %></td>
    </tr>
    <tr>
      <td>Favorite Language:</td>
      <td><%= @survey['language'] %></td>
    </tr>
    <tr>
      <td>Comment:</td>
      <td><%= @survey['comment'] %></td>
    </tr>
    <tr>
      <td><%= link_to "Go back", root_path %></td>
    </tr>
  </table>
</div>
