<div>
  <h1><%=@dojo.city%> Dojo</h1>
  <h3>Address: <%=@dojo.street%></h3>
  <h3>City: <%=@dojo.city%> State: <%=@dojo.state%></h3>
  <p><a href="/dojos/index">Home</a> | <a href="/dojos/edit/<%=@dojo.id%>">Edit</a></p>
</div>
