<a href='/'>Home</a>
<a href='/show/<%= @dojo.id %>'><%= @dojo.branch %></a>
<hr>
<h1>New Student</h1>


<form action='/create/<%= @dojo.id %>' method='post'>
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <p>First Name: <input type='text' name="student[first_name]"></p>
   <p>Last Name: <input type='text' name="student[last_name]"></p>
   <p>Email: <input type='text' name="student[email]"></p>
   <p>Dojo:
      <select name="student[dojo_id]">
         <% @dojos.each do |dojo| %>
            <% if dojo==@dojo %>
               <option selected value="<%= dojo.id %>"><%= dojo.branch %></option>
            <% else %>
               <option value="<%= dojo.id %>"><%= dojo.branch %></option>
            <% end %>
         <% end %>
      </select>
   </p>
   <input type='submit' name='Create'>
</form>
