<h1><%= @dojos.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h1>

<h3>Email: <%= @student.email %></h3>

<h1>Cohort:</h1>
<table>
   <thead>
      <tr>
         <td>First Name</td>
         <td>Last Name</td>
         <td>Email</td>
      </tr>
   </thead>
   <% @students.each do |student| %>
      <tbody>
         <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.email %></td>
         </tr>
      </tbody>
   <% end %>
</table>
