<% if flash[:success] %>
	<p><%= flash[:success] %></p>
<% end %>

<h3>Submitted Information</h3>
<p>Name: <%= @current_user.name %></p>
<p>Dojo Location: <%= @current_user.dojo %></p>
<p>Favorite Language: <%= @current_user.language %></p>
<p>Comment: <%= @current_user.comment %></p>
