<h1>The current time and date: </h1>
<p><%= @time.strftime("%b") %> <%= @time.strftime("%d") %>, <%= @time.strftime("%Y") %></p>
<p><%= @time.strftime("%I") %>:<%= @time.strftime("%M") %>:<%= @time.strftime("%S") %> <%= @time.strftime("%p") %></p>
